<h2 style="text-align:center"> What kind of projection does <%= @user.name %> make? </h2>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {


                                // Create the data table.
                                var data = new google.visualization.DataTable();
                                        data.addColumn('string', 'Type');
                                                data.addColumn('number', 'Number of appearance');
                                                        data.addRows([
                                                                      ['Clever', 9],
                                                                                ['Cool', 123],
                                                                                          ['Cheesy', 48],
                                                                                                        ]);

                                                                // Set chart options
                                                                var options = {'title':'What type of posts do you feed?',
                                                                                         'width':700,
                                                                                                                'height':300};

                                                                        // Instantiate and draw our chart, passing in some options.
                                                                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                                                                                chart.draw(data, options);
                                                                                      }




                                                                                      //BarChart
                google.load('visualization', '1.0', {'packages':['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.setOnLoadCallback(drawBarChart);

                      // Callback that creates and populates a data table,
                      // instantiates the pie chart, passes in the data and
                      // draws it.
                      function drawBarChart() {

                                // Create the data table.
                                var dataBar = new google.visualization.DataTable();
                                        dataBar.addColumn('string', 'Type');
                                                dataBar.addColumn('number', 'Av.');
                                                        dataBar.addRows([
                                                                      ['Clever', 13],
                                                                                ['Cool', 21],
                                                                                          ['Cheesy', 3],
                                                                                                        ]);

                                                                // Set chart options
                                                                 var optionsBar = {'title':'Average of likes per type of posts',
                                                                                         'width':400,
                                                                                                                'height':300};

                                                                        // Instantiate and draw our chart, passing in some options.
                                                                        var chartBar = new google.visualization.BarChart(document.getElementById('chart_Bar'));
                                                                                chartBar.draw(dataBar, optionsBar);
                                                                                      }

                                                                                      //male-Female
                  google.load('visualization', '1.0', {'packages':['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.setOnLoadCallback(drawGender);

                      // Callback that creates and populates a data table,
                      // instantiates the pie chart, passes in the data and
                      // draws it.
                      function drawGender() {

                                // Create the data table.
                                var dataGender = new google.visualization.DataTable();
                                        dataGender.addColumn('string', 'Type');
                                                dataGender.addColumn('number', 'Av.');
                                                        dataGender.addRows([
                                                                      ['Dudes', 2.4],
                                                                                ['Chicks', 3.5],
                                                                                      
                                                                                                        ]);

                                                                // Set chart options
                                                                 var optionsGender = {'title':'Dudes vs. Chicks in your photos',
                                                                                         'width':400,
                                                                                                                'height':300};

                                                                        // Instantiate and draw our chart, passing in some options.
                                                                        var chartGender = new google.visualization.BarChart(document.getElementById('gender_Bar'));
                                                                                chartGender.draw(dataGender, optionsGender);
                                                                                      }

                 // Load the Visualization API and the piechart package.
          google.load('visualization', '1.0', {'packages':['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.setOnLoadCallback(moodChart);

                      // Callback that creates and populates a data table,
                      // instantiates the pie chart, passes in the data and
                      // draws it.
                      function moodChart() {

                                // Create the data table.
                                var dataMood = new google.visualization.DataTable();
                                        dataMood.addColumn('string', 'Type');
                                                dataMood.addColumn('number', 'Number of appearance');
                                                        dataMood.addRows([
                                                                      ['Happy', 98],
                                                                                ['Stressed', 15],
                                                                                          ['Disgusted', 11],
                                                                                                ['Confident', 73],
                                                                                                      ['Surprised', 40],
                                                                                                        ]);

                                                                // Set chart options
                                                                var optionsMood = {'title':'Number of photos were you seem:',
                                                                                         'width':700,
                                                                                                                'height':300};

                                                                        // Instantiate and draw our chart, passing in some options.
                                                                        var chartMood = new google.visualization.PieChart(document.getElementById('chart_Mood'));
                                                                                chartMood.draw(dataMood, optionsMood);
                                                                                      }


    </script>

<div class="perreo">
<div class="row">
  <div class= "col-12">
    <h4>Posts Statistics</h4>
  </div>
</div>

<div class="row">
  <div class= "col-6">
    <div id="chart_div"></div>
  </div>
  <div class="col-6">
    <div id="chart_Bar"></div>
  </div>
</div>

<div class="row">
  <div class= "col-12">
    <h4>Photos Statistics</h4>
  </div>
</div>

<div class="row">
  <div class= "col-6">
    <div id="chart_Mood"></div>
  </div>
  <div class="col-6">
    <div id="gender_Bar"></div>
  </div>
</div>
</div>
